
  .tabcontent, .tabcontent2 {animation: fadeEffect 1s;}
  @keyframes fadeEffect { from {opacity: 0;}    to {opacity: 1;}}
  .tab button:hover {color: purple;}
  .tab button.active {color: darkcyan;}
  .tabcontent, .tabcontent2 {display: none; text-align: left; box-sizing: border-box; overflow-y: scroll;  overflow-x: scroll;}

.tab {
width: 100%;
Height: 10%;
box-sizing: border-box;
position: relative;
overflow-y: scroll;  
overflow-x: scroll;
}


.tab button {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1px;
    transition-duration: 0.4s;
    color: white;
    background-color: Black;
  }
  





.mainTab {
  height: 7%;
  border-style: solid;
  border-color:#20c20e;
}

.mainTab button {
    box-sizing: border-box;
    width: 12.5%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1px;
    background-color: #00094b;
    transition-duration: 0.4s;
    color: white;
}

.mainTab button:hover {background-color: purple;}
.mainTab button.active {background-color: darkcyan;}





.ble {
  border-collapse: collapse;
  width: 100%;
}

.zeb:nth-child(even) {
  background-color: #333;
}

td {
  text-align: left;
  padding: 8px;
}




#reasearchMain {
  display: none;
}